{% extends 'main.html' %}

{% block content %}

<div>
    <h2 style="text-align: center;">Passenger Details travelling from {{book.departure}} to {{book.destination}}</h2>
</div>
<div class="form">    
    <div class="form">    
    <form action="" method="POST">
        {% csrf_token %}
        
        <!-- Hidden Fields for Flight Info -->
        <label for="">FLIGHT NAME</label>
        <input type="text" name="passenger_flight_name" value="{{book.flight_name}}">
        <label for="">DEPARTURE</label>
        <input type="text" name="passenger_departure" value="{{book.departure}}">
        <label for="">DESTINATION</label>
        <input type="text" name="passenger_destination" value="{{book.destination}}">
        <label for="">PRICE</label>
        <input type="text" name="passenger_price" value="{{book.price}}">
        <label for="">DEPARTURE TIME</label>
        <input type="text" name="passenger_departure_time" value="{{book.departure_time}}">
        <label for="">DESTINATION TIME</label>
        <input type="text" name="passenger_destination_time" value="{{book.destination_time}}">
        
        <!-- Show flight summary to user -->
        <!-- <p><strong>Flight Name:</strong> {{ book.flight_name }}</p>
        <p><strong>From:</strong> {{ book.departure }} | <strong>To:</strong> {{ book.destination }}</p>
        <p><strong>Departure Time:</strong> {{ book.departure_time }} | <strong>Arrival Time:</strong> {{ book.destination_time }}</p>
        <p><strong>Price:</strong> ₹{{ book.price }}</p> -->

        <!-- Passenger Details Form -->
        <label for="">Name</label>
        <input type="text" name="name" required><br>        
        <label for="">Age</label>
        <input type="number" name="age" required><br>
        <label for="">Phone</label>
        <input type="number" name="phone" required><br>
        <label for="">Email</label>
        <input type="email" name="email" required><br>
        <label for="">Aadhar Number</label>
        <input type="number" name="aadhar_number" required><br>
                    
        <input class="btn btn-primary btn-lg" value="Submit" type="submit">  
    </form>
</div>


{% endblock content %}