{% extends 'main.html' %}

{% block content %}

<h2 style="text-align: center;color: rgb(255, 0, 0);" class="mt-2"><u>Details of {{data}}</u></h2>


<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">FLIGHT COMPANY</th>
            <th scope="col">FLIGHT NAMES</th>
            <th scope="col">DEPARTURE</th>
            <th scope="col">DESTINATION</th>
            <th scope="col">PRICE</th>
            <th scope="col">DEPARTURE TIME</th>
            <th scope="col">DESTINATION TIME</th>
            <th scope="col">SEAT AVAILIBILITY</th>
            <th scope="col">ACTION</th>
        </tr>
    </thead>
    <tbody>
        {% if not flight_data %}
        <tr>
            <td colspan="8" style="text-align: center;">{{ 'No data Found.' }}</td>
        </tr>
        {% endif %}
        {% for i in flight_data %}
        <tr>
            <td>{{i.flight_company}}</td>
            <td>{{i.flight_name}}</td>
            <td>{{i.departure}}</td>
            <td>{{i.destination}}</td>
            <td>{{i.price}}</td>
            <td>{{i.departure_time}}</td>
            <td>{{i.destination_time}}</td>
            <td>{{i.seat_availibility}}</td>
            <td><a class="btn btn-primary" href="{% url 'book_now' i.id %}">BOOK NOW</a></td>
            {% endfor %}
        </tr>
    </tbody>
</table>


{% endblock content %}