{% extends 'main.html' %}

{% block content %}

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Flight Name</th>
            <th scope="col">Departure</th>
            <th scope="col">Destination</th>
            <th scope="col">Price</th>
            <th scope="col">Departure Time</th>
            <th scope="col">Destination Time</th>
            <th scope="col">NAME</th>
            <th scope="col">AGE</th>
            <th scope="col">PHONE</th>
            <th scope="col">EMAIL</th>
            <th scope="col">AADHAR NUMBER</th>
            <th scope="col">ACTION</th>
            <th scope="col">ACTION</th>
        </tr>
    </thead>
    <tbody>
        {% if not historydata %}
        <tr>
            <td colspan="8" style="text-align: center;">{{ 'No data Found.' }}</td>
        </tr>
        {% endif %}
        {% for i in historydata %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.flight_name}}</td>
            <td>{{i.departure}}</td>
            <td>{{i.destination}}</td>
            <td>{{i.departure_time}}</td>
            <td>{{i.destination_time}}</td>
            <td>{{i.price}}</td>
            <td>{{i.name}}</td>
            <td>{{i.phone}}</td>
            <td>{{i.age}}</td>
            <td>{{i.email}}</td>
            <td>{{i.aadhar_number}}</td>

            <td><a class="btn btn-primary" href="{% url 'restore_task' i.id %}">Restore</a></td>
            <td><a class="btn btn-danger" href="{% url 'delete_task' i.id %}">DELETE</a></td>
            {% endfor %}
        </tr>
    </tbody>
</table>

{% endblock content %}

