{% extends 'main.html' %}

{% block content %}

<div>
    <h2>Hello {{data.name}}</h2>
</div>
<div class="form mt-3">
    <div class="flight-card-container">
    <div class="card">
        <div class="card-body">
        <h5 class="card-title">Flight Name:{{data.flight_name}}</h5>
        <h5 class="card-title">Departure:{{data.departure}}</h5>
        <h5 class="card-title">Destination:{{data.destination}}</h5>
        <h5 class="card-title">Price:₹{{data.price}}</h5>
        </div>
    </div>
</div>   
    <form action="" method="POST">
        {% csrf_token %}
        <label for="">Name</label>
        <input type="text" name="name" value="{{data.name}}"><br>
        <label for="">Age</label>
        <input type="number" name="age" value="{{data.age}}" ><br>
        <label for="">Phone</label>
        <input type="number" name="phone" value="{{data.phone}}"><br>
        <label for="">Email</label>
        <input type="text" name="email" value="{{data.email}}"><br>
        <label for="">Aadhar Number</label>
        <input type="text" name="aadhar_number" value="{{data.aadhar_number}}"><br>
                    
        <input class="btn btn-primary btn-lg" value="submit" type="submit">  
    </form>
</div>

{% endblock content %}